*{
    margin:0;
    font-family: Arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url('./images/amazon_logo.png');
    height: 50px;
    width: 100%;
    background-size: cover;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white ;
}
/** box2 **/
.add-first{
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}
.add-sec{
    font-size: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/**nav search box3**/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: #febd68;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width:45px;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-size: 1.5rem;
    border-top-right-radius:5px ;
    border-bottom-right-radius:5px ;
    color: #0f1111;
}
.nav-search:hover {
    border: 5px solid rgb(228, 129, 6);
}
/**BOX4**/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85 rem;
    font-weight: 700;
}
/**box6**/
.nav-car i{
    font-size: 60px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/**PANEL**/

.panel{
    height: 40px;
    background-color: #222f3d;
    color: white;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 700;
}
.panel-ops p{
    display: inline;
    margin-left: 20px;

}
.panel-ops{
    width: 70%;
    font-size: 0.85rem;
    
}
.panel-deals{
    font-size: 0.9rem;
    width: 30%;
}
/**hero section**/
.hero-section{
    background-image: url(./images/hero1.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-msg a{
    color:#007185;
}

#all {
    width:70px;
    font-size: 15px;
}